<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    {% include 'base.html' %}  
    <!-- Bootstrap Bundle with Popper -->
</head>
<body>
     
    
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row">
            <!-- Search bar -->
            {% include 'search_bar.html' %}

            <div class="col-md-auto px-0" id="sidebar">
                {% include 'navbar.html' %}
            </div>
            <div class="col px-0">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Custom Scripts -->
    {% block scripts %}

    {% endblock %}
</body>
</html>
