<!-- search_bar.html -->

<div class="search-container position-fixed bg-dark" style="width: 30%; top: 3; z-index: 1000; opacity: 0.9; left: 50%; transform: translateX(-50%);">
    <div class="container">
        <div class="input-group mt-3">
            <input type="text" id="search-input" class="form-control" placeholder="Search for something...">
        </div>
        <div id="search-results" class="mt-2 mb-2"></div>
    </div>
</div>

<script src="/static/js/search_bar/search_bar.js"></script>
